body {
    background-color: #151515;
    color: #b5e853;
    font-family: monospace;
    margin: 0;
}

#header {
    color: #b5e853;
    text-align: center;
}

#content {
    max-width: 640px;
    margin: 0 auto;
}

#rom-selector {
    margin: 10px auto;
    font-family: monospace;
}

#screen {
    background-color: white;
    border: 10px solid #b5e853;
}
